In [20]:
import pandas as pd

In [21]:
df1= pd.read_excel("C:/Users/KEARNEY/Desktop/새 폴더/c_project/LDH/data/FO_FW_메뉴정리.xlsx")

In [22]:
df1

           매장                       메뉴        수정메뉴
0       미장플라쎄           라구 프로슈토 라자냐 롤N      라구 라자냐
1       미장플라쎄  화이트와인 토마토 해산물 스튜매운맛2단계N  토마토 해산물 스튜
2       미장플라쎄            링귀네 알라 까르보나라N       까르보나라
3       미장플라쎄             샤프란 해산물 리조또N      해산물리조또
4       미장플라쎄         쇠고기 포르치니 크림 뇨끼대표     소고기크림뇨끼
..        ...                      ...         ...
262  그리너(연남점)                  수제 청 음료         NaN
263  그리너(연남점)             그릭요거트 + 커스텀볼         NaN
264  그리너(연남점)            그릭요거트 + 믹스베리볼         NaN
265  그리너(연남점)            그릭요거트 + 그래놀라볼         NaN
266  그리너(연남점)        Only topping Bowl         NaN

[267 rows x 3 columns]

In [28]:
df2 = pd.read_excel("C:/Users/KEARNEY/Desktop/새 폴더/c_project/LDH/data/POS_230328.xlsx",sheet_name="메뉴정리")

In [32]:
df2.columns = ['메뉴','수정메뉴']

In [45]:
df1_ = set(df1['수정메뉴'].unique())
len(df1_)

150

In [46]:
df2_ = set(df2['수정메뉴'].unique())
len(df2_)

1079

In [48]:
len(df1_ & df2_)

42

# NA 없애기

In [51]:
df1 = df1.dropna(subset=["수정메뉴"])
df2 = df2.dropna(subset=["수정메뉴"])

# 띄어쓰기 없애기

In [52]:
def remove_blank(s):
    return ''.join(s.split())

df1['수정메뉴'] = df1['수정메뉴'].apply(remove_blank)
df2['수정메뉴'] = df2['수정메뉴'].apply(remove_blank)

C:\Users\KEARNEY\AppData\Local\Temp\ipykernel_17384\1062171903.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['수정메뉴'] = df1['수정메뉴'].apply(remove_blank)
C:\Users\KEARNEY\AppData\Local\Temp\ipykernel_17384\1062171903.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['수정메뉴'] = df2['수정메뉴'].apply(remove_blank)

In [53]:
df1_ = set(df1['수정메뉴'].unique())
len(df1_)

149

In [54]:
df2_ = set(df2['수정메뉴'].unique())
len(df2_)

1019

In [55]:
len(df1_ & df2_)

50